<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/styling :: headStyles"></div>
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <p class="card-text postTopic" th:text="${blogPost.topic}"></p>
        <h1 class="postTitle" th:text="${blogPost.title}"></h1>
        <div class="postAuthorDiv">
            <p class="card-text postAuthor" th:text="${blogPost.author}"></p>
        </div>
        <p class="card-text postBody" th:text="${blogPost.blogEntry}"></p>
        <div class="buttonContainer">
            <a href="#" th:href="@{../../blogposts/edit/{id}(id=${blogPost.id})}">
                <button class="btn btn-outline-dark viewPostAlterButton">Edit</button>
            </a>
            <a href="#" th:href="@{../../blogposts/delete/{id}(id=${blogPost.id})}">
                <button class="btn btn-outline-danger viewPostAlterButton">Delete</button>
            </a>
        </div>
    </div>
</body>

</html>