body{
	background-color: #0B4C5F;
}

.container{
	background-color: rgba(255, 255, 255, 0.8);
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px; 
}

.pageTitle {
	text-align: center;
	margin-bottom: 15px;
}

.newPostButton{
	width: 30%;
	margin-left: 35%;
	margin-top: 5px;
	margin-bottom: 25px;
}

.submitPostButton{
	width: 30%;
	margin-left: 35%;
	margin-top: 20px;
}

.postAlterButton{
	width: 45%;
	margin-left: 3%;
}

.postTitle {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0px;
	background-color: #0B4C5F;
	color: white;
}

.postAuthor {
	text-align: center;
	font-style: italic;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 0px;
	font-size: 14px;
	background-color: ghostwhite;
}

.postBody {
	text-align: left;
}

.formNotBody {
	margin: auto;
	width: 40%;
}

.formBody {
	margin: auto;
	width: 85%;
}

.editForm {
	width: 40%;
	height: 20%;
	margin: auto;
}

.editFormNotBodyTitle {
	display: inline;
	float: left;
	margin-top: 9px;
	width: 20%;
}

.editFormNotBody {
	display: inline;
	float: right;
	width: 70%;
}

.editFormBody {
	margin: auto;
	width: 85%;
}