body{
	background-color: white;
	font-family: 'Exo 2', sans-serif;
}

a:link {
	text-decoration: none;
	color: white;
}
  
a:visited {
	text-decoration: none;
	color: white;
}
  
a:hover {
	text-decoration: none;
	color: black;
}
  
a:active {
	text-decoration: none;
	color: white;
}

.navbar-default {
	color: white;
}

.container{
	background-color: rgba(245, 245, 245, 0.932);
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px; 
}

.pageTitle {
	text-align: center;
	margin-bottom: 15px;
}

.newPostButton{
	width: 30%;
	margin-left: 35%;
	margin-top: 5px;
	margin-bottom: 25px;
}

.submitPostButton{
	width: 30%;
	margin-left: 35%;
	margin-top: 20px;
}

/*#region Posts */
.postTopic {
	text-align: left;
	font-size: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 30px;
	margin-bottom: 0px;
	background-color: rgb(102, 102, 102);
	color: white;
}

.postTitle {
	text-align: left;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 30px;
	margin-bottom: 0px;
	font-size: 32px;
	background-color: white;
	color: black;
}

.postAuthorDiv {
	width: 100%;
	margin: auto;
	text-align: left;
	padding-left: 30px;
	padding-bottom: 8px;
	background-color: white;
}

.postAuthor {
	display: inline;
	text-align: center;
	font-style: italic;
	font-size: 18px;
}

.postBody {
	text-align: left;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 30px;
	margin: 0px;
	background-color: white;
}

.postTagDiv {
	position: relative;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 30px;
	background-color: rgb(102, 102, 102);
	color: white;
}

.postTagTitle {
	display: inline;
	text-align: left;
	font-size: 15px;
	padding-right: 20px;
	margin-bottom: 0px;
	background-color: rgb(102, 102, 102);
}

.postTag {
	display: inline;
	text-align: left;
	font-size: 12px;
	padding-right: 20px;
	margin-bottom: 0px;
	background-color: rgb(102, 102, 102);
}

.postAlterButton{
	width: 28%;
	margin-left: 3%;
}
/*#endregion*/

/*#region Modal */
.modalCard {
	margin: auto;
	width: 75%;
	margin-top: 20px;
	margin-bottom: 10px;
}

.modalTitle {
	display: inline;
	float: left;
	text-align: center;
	width: 60%;
	padding-top: 2px;
	padding-bottom: 3px;
	background-color: rgb(59, 59, 59);
	color: white;

}

.modalAuthor {
	display: inline;
	float: right;
	text-align: center;
	width: 40%;
	padding-top: 2px;
	padding-bottom: 3px;
}

/*#endregion*/
.formTopicDiv {
	margin: auto;
	width: 25%;
}

.formTopicTitle {
	display: inline;
	float: left;
	width: 43px;
	padding-top: 6px;
	margin-right: 1%;
}

.formTopic {
	display: inline;
	float: right;
	text-align: center;
	width: 62%;
}

.formNotBody {
	margin: auto;
	width: 40%;
}

.formBody {
	margin: auto;
	width: 85%;
}

.editForm {
	position: relative;
	width: 30%;
	margin: auto;
}

.editFormTopic {
	display: inline;
	width: 70%;
}

.editFormNotBodyTitle {
	display: inline;
	float: left;
	margin-top: 9px;
	margin-left: 0px;
	width: 60px;
}

.editFormNotBody {
	display: inline;
	width: 70%;
}

.editFormSubHeader {
	margin: auto;
	width: 85%;
}

.editFormBody {
	margin: auto;
	width: 85%;
}

.resultCard {
	margin: auto;
	width: 75%
}

.buttonContainer {
	margin: auto;
	width: 50%;
}

.viewPostAlterButton{
	width: 42%;
	margin-top: 3%;
	margin-left: 5%;
}